@font-face {
    font-family: 'riogrande';
    src: url('fonts/riogrande.ttf') format('truetype');
}  

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/desert.png');
    background-position: center;
    font-family: 'riogrande', 'zabras', Arial, Helvetica, sans-serif;
    background-size: cover;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.5);
}
canvas {
    background-color: black;
    display: block;
}

.d-none {
    display: none !important;
}

.main {
    position: relative;
    overflow: hidden;
}
.control {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.control b {
    font-size: 40px;
}

.startButton {
    font-family: 'riogrande';
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    background: none;
    cursor: pointer;
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: 6px 4px 6px rgb(0 0 0 / 50%);
    text-align: center;
    border: none;
    padding-left: 40%;
}
.startButton:hover {
    transform: scaleY(1.2);
}

.reloadButton {
    font-family: 'riogrande';
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    background: none;
    cursor: pointer;
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: 6px 4px 6px rgb(0 0 0 / 50%);
    text-align: center;
    border: none;
    padding-left: 40%;
    padding-top: 2px;
}

.reloadButton:hover {
    transform: scaleY(1.2);
}